# Prepare Catalog

In [4]:
import pandas as pd

df= pd.read_csv("Tibet.csv")
df.rename(columns={'time':'event_time','magnitude':'event_mag','latitude':'event_lat','longitude':'event_lon','depth':'event_dep'},inplace=True)

# Specify the columns to keep
columns_to_keep = ['event_time', 'event_mag', 'event_lat', 'event_lon', 'event_dep']
df_subset = df[columns_to_keep].copy()

# Filter for events with depth greater than 20
mask_depth = df_subset['event_dep'] > 20

# Combine the masks to apply both filters
filtered_df = df_subset[mask_depth]
print(len(filtered_df))

# Display the first few rows of the resulting DataFrame
cata_df=filtered_df
print(cata_df)

cata_df.to_csv(f"./Inputs/Tibet.csv",index=False)

24
                  event_time  event_mag  event_lat  event_lon  event_dep
0   2008-08-20T22:03:30.100Z        NaN  30.318046  80.185376      51.80
1   2008-09-04T12:53:11.140Z        NaN  30.186267  80.030542      41.01
2   2008-12-31T15:46:21.470Z        NaN  31.802920  79.577938      51.61
3   2008-12-31T16:12:19.890Z        NaN  31.789156  79.594832      54.09
4   2009-02-14T16:27:59.130Z        NaN  30.092619  80.257267      52.99
5   2009-09-26T19:51:17.300Z        NaN  29.941907  81.941805      67.89
6   2009-10-20T19:21:17.500Z        NaN  31.543186  82.119971      47.50
7   2009-10-25T01:23:10.600Z        NaN  31.332928  82.428947      56.03
8   2009-11-01T08:50:31.550Z        NaN  30.047555  81.594556      63.68
9   2009-11-08T19:29:36.240Z        NaN  30.053328  81.545182      65.83
10  2009-12-16T06:12:59.990Z        NaN  29.617059  81.265275      49.70
11  2010-01-05T15:04:26.810Z        NaN  29.911941  79.788794      77.63
12  2010-01-07T03:48:39.030Z        NaN  31.534086  82.613851      74.81
13  2010-03-15T20:17:16.350Z        NaN  30.839217  81.867155      59.11
14  2010-03-15T20:23:29.450Z        NaN  30.833797  82.075203      63.53
15  2010-03-15T20:40:31.070Z        NaN  30.863436  81.836475      60.75
16  2010-03-20T23:26:43.300Z        NaN  30.151449  79.648950      90.94
17  2010-05-01T22:36:29.820Z        NaN  29.807686  79.393132      80.19
18  2010-07-04T02:35:57.990Z        NaN  29.577124  80.291162      66.21
19  2010-11-13T03:03:50.850Z        NaN  32.730261  81.901351      41.35
20  2011-03-23T01:48:18.650Z        NaN  31.383140  83.303263      40.43
21  2011-05-04T20:57:18.360Z        NaN  30.098958  80.024341      93.37
22  2011-05-04T21:43:19.300Z        NaN  30.182410  80.126709      51.68
23  2011-05-08T01:26:26.900Z        NaN  30.170947  80.117448      48.28